[*.{kt,kts}]
indent_size = 4
insert_final_newline = true
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Compose @Composable 함수 이름이 대문자로 시작하는 것을 허용
ktlint_function_naming_ignore_when_annotated_with = Composable

# 자동 생성된 코드 검사 제외
[**/build/**]
ktlint_standard = disabled

[**/generated/**]
ktlint_standard = disabled
